CDA_Datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!--
   This files contains a subset of the datatypes defined in the CDA by HL7 with 
   minor modifications for the L32.
   
***************************************************************************************
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
***************************************************************************************
-->

<xs:schema targetNamespace="urn:hl7-org:v3"
    xmlns="urn:hl7-org:v3" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:sdtc="urn:hl7-org:sdtc"
    elementFormDefault="qualified">    
    
    <xs:include schemaLocation="L32_Datatypes.xsd"/> 

    <xs:complexType name="ANY" abstract="true">
        <xs:annotation>
            <xs:documentation>
                Defines the basic properties of every data value. This
                is an abstract type, meaning that no value can be just
                a data value without belonging to any concrete type.
                Every concrete type is a specialization of this
                general abstract DataValue type.
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    
    <xs:complexType name="CD">
        <xs:annotation>
            <xs:documentation>
                A concept descriptor represents any kind of concept usually
                by giving a code defined in a code system.  A concept
                descriptor can contain the original text or phrase that
                served as the basis of the coding and one or more
                translations into different coding systems. A concept
                descriptor can also contain qualifiers to describe, e.g.,
                the concept of a "left foot" as a postcoordinated term built
                from the primary code "FOOT" and the qualifier "LEFT".
                In exceptional cases, the concept descriptor need not
                contain a code but only the original text describing
                that concept.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY">
                <xs:sequence>
                    <xs:element name="originalText" type="TextReference" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                The text or phrase used as the basis for the coding.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="code" type="xs:token" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The plain code symbol defined by the code system.
                            For example, "784.0" is the code symbol of the ICD-9
                            code "784.0" for headache.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystem" type="Id" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the code system that defines the code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemName" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A common name of the coding system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="displayName" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A name or title for the code, under which the sending
                            system shows the code value to its users.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CE">
        <xs:annotation>
            <xs:documentation>
                Coded data, consists of a coded value (CV)
                and, optionally, coded value(s) from other coding systems
                that identify the same concept. Used when alternative
                codes may exist.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="CD">
                <xs:sequence>
                    <xs:element name="originalText" type="TextReference" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                The text or phrase used as the basis for the coding.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="code" type="xs:token" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The plain code symbol defined by the code system.
                            For example, "784.0" is the code symbol of the ICD-9
                            code "784.0" for headache.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystem" type="Id" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the code system that defines the code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeSystemName" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A common name of the coding system.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="displayName" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            A name or title for the code, under which the sending
                            system shows the code value to its users.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="INT">
        <xs:annotation>
            <xs:documentation>
                Integer numbers (-1,0,1,2, 100, 3398129, etc.) are precise
                numbers that are results of counting and enumerating.
                Integer numbers are discrete, the set of integers is
                infinite but countable.  No arbitrary limit is imposed on
                the range of integer numbers. Two NULL flavors are
                defined for the positive and negative infinity.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY">
                <xs:attribute name="value" use="optional" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="PIVL_TS">
        <xs:annotation>
            <xs:documentation>
                Note: because this type is defined as an extension of SXCM_T,
                all of the attributes and elements accepted for T are also
                accepted by this definition.  However, they are NOT allowed
                by the normative description of this type.  Unfortunately,
                we cannot write a general purpose schematron contraints to
                provide that extra validation, thus applications must be
                aware that instance (fragments) that pass validation with
                this might might still not be legal.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TS">
                <xs:sequence>
                    <xs:element name="phase" minOccurs="0" maxOccurs="1" type="IVL_TS">
                        <xs:annotation>
                            <xs:documentation>
                                A prototype of the repeating interval specifying the
                                duration of each occurrence and anchors the periodic
                                interval sequence at a certain point in time.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="period" minOccurs="0" maxOccurs="1" type="PQ">
                        <xs:annotation>
                            <xs:documentation>
                                A time duration specifying a reciprocal measure of
                                the frequency at which the periodic interval repeats.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="institutionSpecified" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates whether the exact timing is up to the party
                            executing the schedule (e.g., to distinguish "every 8
                            hours" from "3 times a day".)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="EIVL_TS">
        <xs:annotation>
            <xs:documentation>
                Note: because this type is defined as an extension of SXCM_T,
                all of the attributes and elements accepted for T are also
                accepted by this definition.  However, they are NOT allowed
                by the normative description of this type.  Unfortunately,
                we cannot write a general purpose schematron contraints to
                provide that extra validation, thus applications must be
                aware that instance (fragments) that pass validation with
                this might might still not be legal.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TS">
                <xs:sequence>
                    <xs:element name="event" type="EIVL.event" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                A code for a common (periodical) activity of daily
                                living based on which the event related periodic
                                interval is specified.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="TS">
        <xs:annotation>
            <xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
            </xs:documentation>
            <xs:appinfo>
                <diff>PQ</diff>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY">
                <xs:attribute name="value"> 
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="((18|19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01]))((([0-1][0-9])|([2][0-3]))([0-5][0-9])(([0-5][0-9])))?(-\d{4})?"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="IVL_TS">
        <xs:complexContent>
            <xs:extension base="TS">
                <xs:sequence>
                    <xs:element name="low" minOccurs="1" maxOccurs="1" type="DateTime">
                        <xs:annotation>
                            <xs:documentation>
                                The low limit of the interval.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="high" minOccurs="0" maxOccurs="1" type="DateTime">
                        <xs:annotation>
                            <xs:documentation>
                                The high limit of the interval.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="PQ">
        <xs:annotation>
            <xs:documentation>
                A dimensioned quantity expressing the result of a
                measurement act.
            </xs:documentation>
            <xs:appinfo>
                <diff>PQ</diff>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY">
                <xs:attribute name="value" type="xs:double" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            The magnitude of the quantity measured in terms of
                            the unit.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="unit" type="xs:token" use="optional" default="1">
                    <xs:annotation>
                        <xs:documentation>
                            The unit of measure specified in the Unified Code for
                            Units of Measure (UCUM)
                            [http://aurora.rg.iupui.edu/UCUM].
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="EIVL.event">
        <xs:annotation>
            <xs:documentation>
                A code for a common (periodical) activity of daily
                living based on which the event related periodic
                interval is specified.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="CE">
                <xs:attribute name="code" type="xs:token" use="optional"/>
                <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.5.139"/>
                <xs:attribute name="codeSystemName" type="xs:string" fixed="TimingEvent"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
   
</xs:schema>
