L32_Results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright 2009 The MITRE Corporation
    Approved for Public Release: 09-3060. Distribution Unlimited.
    
    See L32_ClinicalDocument.xsd for license details
-->
<xs:schema targetNamespace="urn:hl7-org:v3"
    xmlns="urn:hl7-org:v3" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">    
    
    <xs:include schemaLocation="L32_Datatypes.xsd"/>
    <xs:include schemaLocation="CDA/NarrativeBlock.xsd"/>
    
    <xs:complexType name="Results">
        <xs:annotation>
            <xs:documentation>
                This represents the overall structure of the C32 Result Module. The Result
                Module contains the results of observations generated by labs, imaging, and
                other procedures.
                This data should be included in a component tag with an xsi:type="Results" attribute.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="L32Module">
                <xs:sequence>
                    <xs:element name="section">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="templateId">
                                    <xs:complexType>
                                        <xs:attribute name="root" type="Id" fixed="2.16.840.1.113883.10.20.1.14"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="code" type="ResultsCode"/>
                                <xs:element name="title" type="xs:string" fixed="Results"/>
                                <xs:element name="text" type="StrucDoc.Text"/>
                                <xs:element name="entry" type="ResultEventEntry" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="ResultsCode">
        <xs:annotation>
            <xs:documentation>
                The values for a Result section specified by the CCD to 
                indicate section conformance.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="xs:string" fixed="30954-2"/>
        <xs:attribute name="displayName" type="xs:string" fixed="Relevant diagnostic tests and/or laboratory data"/>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="LOINC" /> 
        <xs:attribute name="codeSystem" type="xs:string" fixed="2.16.840.1.113883.6.1" />
    </xs:complexType>    
    
    <xs:complexType name="ResultEventEntry">
        <xs:annotation>
            <xs:documentation>
                A Result entry.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="observation" type="ResultEntry" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>    
    
    <xs:complexType name="ResultEntry">
        <xs:annotation>
            <xs:documentation>
                A Result observation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="templateId" minOccurs="2" maxOccurs="2">
                <xs:complexType>
                    <xs:attribute name="root">
                        <xs:simpleType>
                            <xs:restriction base="Id">
                                <xs:enumeration value="2.16.840.1.113883.10.20.1.31"/>        <!-- CCD -->
                                <xs:enumeration value="2.16.840.1.113883.3.88.11.32.16"/>   <!-- C32 -->
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="assigningAuthorityName" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="CCD"/>
                                <xs:enumeration value="HITSP/C32"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="id" type="InstanceIdentifier"/>
            <xs:element name="code" type="ResultType"/>
            <xs:element name="statusCode" type="StatusCode"/>
            <xs:element name="effectiveTime" type="DateRange"/>
            <xs:element name="value" type="ANY"/>  <!-- CCD CONF-417: SHALL be expressed using UCUM expression when physical quantity -->
            <xs:element name="interpretationCode" type="GenericCode" minOccurs="0"/>
            <xs:element name="informant" type="InformantOrPerformer" maxOccurs="unbounded"/> <!-- CCD CONF-421: A result observation SHALL contain one or more sources of information -->
            <xs:element name="referenceRange" type="ResultReferenceRange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="classCode" type="xs:string" fixed="OBS"/>
        <xs:attribute name="moodCode" type="xs:string" fixed="EVN"/>
    </xs:complexType>    
    
    <xs:complexType name="ResultType">
        <xs:annotation>
            <xs:documentation>
                The result type can be selected from LOINC or SNOMED CT codes. For vital
                signs, the result type SHOULD be selected from LOINC (C32-[200]).
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:pattern value="[^\s]+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="displayName" type="xs:string" use="optional"/>
        <xs:attribute name="codeSystemName">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="LOINC"/>
                    <xs:enumeration value="SNOMED CT"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute> 
        <xs:attribute name="codeSystem">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="2.16.840.1.113883.6.1"/>
                    <xs:enumeration value="2.16.840.1.113883.6.96"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>  
    
    <xs:complexType name="ResultReferenceRange">
        <xs:annotation>
            <xs:documentation>
                Reference ranges for the observation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="observationRange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="text" type="xs:string"  minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="classCode" type="xs:string" use="optional" default="OBS"/>
                    <xs:attribute name="moodCode" type="xs:string" use="optional" fixed="EVN.CRT"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="typeCode" type="xs:string" use="optional" fixed="REFV"/>
    </xs:complexType>
</xs:schema>
