L32_Conditions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright 2009 The MITRE Corporation
    Approved for Public Release: 09-3060. Distribution Unlimited.
    
    See L32_ClinicalDocument.xsd for license details
-->
<xs:schema targetNamespace="urn:hl7-org:v3"
    xmlns="urn:hl7-org:v3" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:sdtc="urn:hl7-org:sdtc"
    elementFormDefault="qualified">

    <xs:include schemaLocation="L32_Datatypes.xsd"/>
    <xs:include schemaLocation="CDA/NarrativeBlock.xsd"/>   
   
    <xs:complexType name="Conditions">
        <xs:annotation>
            <xs:documentation>
                This represents the overall structure of the C32 Condition Module. The Condition
                Module lists and describes all relevant clinical problems at the time the 
                summary is generated. It is a brief list.
                This data should be included in a component tag with an xsi:type="Conditions" attribute.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="L32Module">
                <xs:sequence>
                    <xs:element name="section">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="templateId">
                                    <xs:complexType>
                                        <xs:attribute name="root" type="Id" fixed="2.16.840.1.113883.10.20.1.11"/> <!--CCD id-->
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="code" type="ConditionsCode"/>
                                <xs:element name="title" type="xs:string" fixed="Problems"/>
                                <xs:element name="text" type="StrucDoc.Text"/> 
                                <xs:element name="entry" type="ProblemEventEntry" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="ConditionsCode">
        <xs:annotation>
            <xs:documentation>
                The values for a Condition section specified by the CCD to 
                indicate section conformance.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="xs:string" fixed="11450-4"/>
        <xs:attribute name="displayName" type="xs:string" fixed="Problem list"/>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="LOINC" /> 
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.6.1" />
    </xs:complexType>    
    
    <xs:complexType name="ProblemEventEntry"> 
        <xs:annotation>
            <xs:documentation>
                A Problem act includes an entry for each problem.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="act">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="templateId" minOccurs="2" maxOccurs="2">
                            <xs:complexType>
                                <xs:attribute name="root">
                                    <xs:simpleType>
                                        <xs:restriction base="Id">
                                                <xs:enumeration value="2.16.840.1.113883.10.20.1.27"/>        <!-- CCD A Problem Act-->
                                            <xs:enumeration value="2.16.840.1.113883.3.88.11.32.7"/>   <!-- C32 -->
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="assigningAuthorityName" use="optional">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="CCD"/>
                                            <xs:enumeration value="HITSP/C32"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="id" type="InstanceIdentifier"/>
                        <xs:element name="code">
                            <xs:complexType>
                                <xs:attribute name="nullFlavor" type="xs:string" fixed="NA"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="effectiveTime" type="DateRange" minOccurs="0"/>
                        <xs:element name="performer" type="TreatingProvider" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="entryRelationship" type="ProblemEntry" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="classCode" type="xs:string" fixed="ACT"/>
                    <xs:attribute name="moodCode" type="xs:string" fixed="EVN"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="TreatingProvider">
        <xs:annotation>
            <xs:documentation>
                The provider or providers treating the patient for this condition.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>            
            <xs:element name="time" type="DateRange" minOccurs="0"/>
            <xs:element name="assignedEntity" type="Entity"/>
        </xs:sequence>
        <xs:attribute name="typeCode" type="xs:string" fixed="PRF"/>
    </xs:complexType>
    
    <xs:complexType name="ProblemEntry">
        <xs:annotation>
            <xs:documentation>
                A Condition observation, containing data about the condition.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="observation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="templateId">  <!-- A Problem Observation -->
                                <xs:complexType>
                                    <xs:attribute name="root" type="Id" fixed="2.16.840.1.113883.10.20.1.28"/>
                                </xs:complexType>
                            </xs:element>   
                            <xs:element name="code" type="ProblemType"/>
                            <xs:element name="text" type="TextReference"/>
                            <xs:element name="statusCode">
                                <xs:complexType>
                                    <xs:attribute name="code" type="xs:string" fixed="completed"/>
                                </xs:complexType>
                            </xs:element> 
                            <xs:element name="effectiveTime" type="DateRange"/> 
                            <xs:element name="value" type="ANY" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        This element can be used to indicate whether the patient is currently pregnant.  
                                        The fixed values that should be used are defined in the data type called "Pregnancy."
                                        
                                        This element can also contain the Problem Code. It shall be coded using the 
                                        VA/KP Problem List Subset of SNOMED CT. The problem list subset can be obtained 
                                        from www.cancer.gov/cancertopics/terminologyresources/FDA. It is currently recorded 
                                        in the value element using the CD data type. See the "ProblemCode" data type for 
                                        information on the code system and ids to be used.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="informant" type="InformantOrPerformer" minOccurs="1" maxOccurs="unbounded"/>
                            <xs:element name="entryRelationship" type="HealthStatusObservation" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="classCode" type="xs:string" fixed="OBS"/>
                        <xs:attribute name="moodCode" type="xs:string" fixed="EVN"/> 
                    </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="typeCode" type="xs:string" fixed="SUBJ"/>
    </xs:complexType>   
   
    <xs:complexType name="ProblemType"> 
        <xs:annotation>
            <xs:documentation>
                The Problem Type is coded using this subset of SNOMED CT.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="404684003" />
                    <xs:enumeration value="418799008" />
                    <xs:enumeration value="55607006" />
                    <xs:enumeration value="409586006" />
                    <xs:enumeration value="64572001" />
                    <xs:enumeration value="282291009" />
                    <xs:enumeration value="248536006" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="displayName" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Finding" />
                    <xs:enumeration value="Symptom" />
                    <xs:enumeration value="Problem" />
                    <xs:enumeration value="Complaint" />
                    <xs:enumeration value="Condition" />
                    <xs:enumeration value="Diagnosis" />
                    <xs:enumeration value="Functional limitation" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="SNOMED CT"/>
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.6.96"/>
    </xs:complexType>    
   
    <xs:complexType name="ProblemCode"> 
        <xs:annotation>
            <xs:documentation source="www.cancer.gov/cancertopics/terminologyresources/FDA">
                The Problem Code shall be coded using the VA/KP Problem List Subset of SNOMED CT. 
                The problem list subset can be obtained from the source URL.  It is currently 
                recorded in the value element of an observation, using the CD data type.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="xs:string"/>
        <xs:attribute name="displayName" type="xs:string" use="optional"/>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="SNOMED CT" /> 
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.6.96" />
    </xs:complexType>
    
    <xs:complexType name="Pregnancy">
        <xs:annotation>
            <xs:documentation>
                These are the fixed values to be used to indicate pregnancy.  An observation
                shall be recorded with a "value" element of type "CD" and the following values
                present.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="xs:string" fixed="77386006'"/>
        <xs:attribute name="displayName" type="xs:string" fixed="patient currently pregnant"/>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="SNOMED CT"/> 
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.6.96"/>
    </xs:complexType>
    
    <xs:complexType name="HealthStatusObservation">
        <xs:annotation>
            <xs:documentation>
                The status observation is used to record a Problem Status Observation or
                a Problem Healthstatus Observation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="observation">
                <xs:complexType>
                    <xs:sequence>  
                        <xs:element name="templateId">
                            <xs:complexType>
                                <xs:attribute name="root">
                                    <xs:simpleType>
                                        <xs:restriction base="Id">
                                            <xs:enumeration value="2.16.840.1.113883.10.20.1.50"/>        <!-- A Problem Status Observation -->
                                            <xs:enumeration value="2.16.840.1.113883.10.20.1.51"/>        <!-- A Problem HealthStatus Observation -->
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute> 
                            </xs:complexType>
                        </xs:element>   
                        <xs:element name="code" type="HealthStatusObservationCode"/>  
                        <xs:element name="statusCode"> 
                            <xs:complexType>
                                <xs:attribute name="code" type="xs:string" fixed="completed"/>
                            </xs:complexType> 
                        </xs:element>
                        <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="unbounded"> <!--CCD pg 31 use datatype = CE -->
                            <xs:annotation>
                                <xs:documentation>
                                    For a status observation, use codeSystemName=ProblemStatusCode and codeSystem=2.16.840.1.113883.1.11.20.13
                                    For a healthstatus observation, use codeSystemName=ProblemHealthStatusCode and codeSystem=2.16.840.1.113883.1.11.20.12
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="classCode" type="xs:string" fixed="OBS"/>
                    <xs:attribute name="moodCode" type="xs:string" fixed="EVN"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="typeCode" type="xs:string" fixed="REFR"/>
    </xs:complexType>
    
    <xs:complexType name="HealthStatusObservationCode">
        <xs:annotation>
            <xs:documentation>
                The values for a status observation or health status observation section specified by the CCD to 
                indicate section conformance.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="33999-4" /> <!-- Status code -->
                    <xs:enumeration value="11323-3" /> <!-- Health Status code -->
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="displayName">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Status" />
                    <xs:enumeration value="Health status" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="LOINC" /> 
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.6.1" />
    </xs:complexType>    
</xs:schema>
