L32_InsuranceProviders.xsd

<!-- 
    Copyright 2009 The MITRE Corporation
    Approved for Public Release: 09-3060. Distribution Unlimited.
    
    See L32_ClinicalDocument.xsd for license details
-->
<xs:schema targetNamespace="urn:hl7-org:v3"
    xmlns="urn:hl7-org:v3" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:sdtc="urn:hl7-org:sdtc"
    elementFormDefault="qualified">    
    
    <xs:include schemaLocation="L32_Datatypes.xsd"/>
    <xs:include schemaLocation="CDA_Datatypes.xsd"/>
    <xs:include schemaLocation="CDA/NarrativeBlock.xsd"/>
    <xs:import namespace="urn:hl7-org:sdtc" schemaLocation="L32_SDTC_Extension.xsd" />    

    <xs:complexType name="InsuranceProviders">
        <xs:annotation>
            <xs:documentation>
                This represents the overall structure of the C32 Insurance Providers Module. It contains data 
                about the entities or other individuals who may pay for a patient's healthcare, including health 
                insurance plans, other payers, guarantors, parties with financial responsibility, or the patient 
                directly. This data should be included in a L32_Module component tag with an xsi:type="InsuranceProviders" 
                attribute.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="L32Module">
                <xs:sequence>
                    <xs:element name="section">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="templateId">
                                    <xs:complexType>
                                        <xs:attribute name="root" type="Id" fixed="2.16.840.1.113883.10.20.1.9"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="code" type="InsuranceProvidersCode"/>
                                <xs:element name="title" type="xs:string" fixed="Insurance"/>
                                <xs:element name="text" type="StrucDoc.Text"/>
                                <xs:element name="entry" type="PaymentProviderEventEntry" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType> 
    
    <xs:complexType name="InsuranceProvidersCode">
        <xs:annotation>
            <xs:documentation>
                The values for a Payers(Insurance Providers) section specified by the CCD to 
                indicate section conformance.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="xs:string" fixed="48768-6"/>
        <xs:attribute name="displayName" type="xs:string" fixed="“Payment sources"/>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="LOINC" /> 
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.6.1" />
    </xs:complexType>    
    
    <xs:complexType name="PaymentProviderEventEntry"> 
        <xs:annotation>
            <xs:documentation>
                A Payment Provider Event entry, a "Coverage Activity" in CCD which serves to order the payment 
                sources. It includes one or more policy activities.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="act">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="templateId">
                            <xs:complexType>
                                <xs:attribute name="root" type="Id" fixed="2.16.840.1.113883.10.20.1.20"/> <!-- CCD Id Coverage Activity -->
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="id" type="InstanceIdentifier"/> 
                        <xs:element name="code" type="InsuranceProvidersCode"/>
                        <xs:element name="statusCode">
                            <xs:complexType>
                                <xs:attribute name="code" type="xs:string" fixed="completed"/>
                            </xs:complexType> 
                        </xs:element>
                        <xs:element name="informant" type="InformantOrPerformer" minOccurs="1" maxOccurs="unbounded"/>
                        <xs:element name="entryRelationship" type="PolicyActivity" maxOccurs="unbounded"/>
                    </xs:sequence>                    
                    <xs:attribute name="classCode" type="xs:string" fixed="ACT"/>
                    <xs:attribute name="moodCode" type="xs:string" fixed="DEF"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>  
    
    <xs:complexType name="PolicyActivity">
        <xs:annotation>
            <xs:documentation>
                A container for a "Policy Activity" represented with an act.  The sequence number serves to 
                prioritize the payment sources.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>       
            <xs:element name="sequenceNumber" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="value" type="xs:integer"/>
                </xs:complexType>
            </xs:element>            
            <xs:element name="act" type="PolicyActivityAct"/>
        </xs:sequence>
        <xs:attribute name="typeCode" type="xs:string" fixed="COMP"/>
    </xs:complexType>
    
    <xs:complexType name="PolicyActivityAct">
        <xs:annotation>
            <xs:documentation>
                A policy activity represents the policy or program providing the coverage. The person for whom 
                payment is being provided (i.e. the patient) is the covered party. The subscriber of the policy 
                or program is represented as a participant that is the holder the coverage. The payer is 
                represented as the performer of the policy activity.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="templateId" minOccurs="2" maxOccurs="2">
                <xs:complexType>
                    <xs:attribute name="root">
                        <xs:simpleType>
                            <xs:restriction base="Id">
                                <xs:enumeration value="2.16.840.1.113883.10.20.1.26"/>     <!-- CCD Policy Activity Id-->
                                <xs:enumeration value="2.16.840.1.113883.3.88.11.32.5"/>   <!-- C32 -->
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="assigningAuthorityName" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="CCD"/>
                                <xs:enumeration value="HITSP/C32"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="id" type="InstanceIdentifier"/> <!-- Insurance Group Number -->
            <xs:element name="code" type="HealthInsuranceTypeCode"/>
            <xs:element name="statusCode">
                <xs:complexType>
                    <xs:attribute name="code" type="xs:string" fixed="completed"/>
                </xs:complexType> 
            </xs:element>
            <xs:element name="performer" type="Payer"/>
            <xs:element name="participant" type="MemberOrSubscriberInformation"/>
            <xs:element name="entryRelationship" type="HealthPlan" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="classCode" type="xs:string" fixed="ACT"/>
        <xs:attribute name="moodCode" type="xs:string" fixed="EVN"/>
    </xs:complexType>
    
    <xs:complexType name="HealthInsuranceTypeCode">
        <xs:annotation>
            <xs:documentation>
                The type of health plan covering the individual(HMO, PPO, POS, Medicare Part A/B, etc). The 
                X12N 270/271 Implementation Guide contains the values for this value set.  This document is 
                not freely available.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="xs:string"/> <!-- Use code PP for self pay or pay by guarantor -->
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="X12N-1336" /> 
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.6.255.1336" />
    </xs:complexType>
    
    <xs:complexType name="Payer">
        <xs:annotation>
            <xs:documentation>
                Payer Information OR Financial Responsibility Party Information including 
                the Health Plan Insurance Information Source Id, Address, Phone, Email, and Name
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>  
            <xs:element name="time" type="DateRange" minOccurs="0"/>      <!-- Effective Date of Financial Responsibility-->     
            <xs:element name="assignedEntity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="InstanceIdentifier" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    The information source identifier corresponds to the RxBIN and RxPCN 
                                    fields found on pharmacy benefit cards. When a national payer identifier 
                                    is standardized, it would also go in this field.
                                    The OID for RxBIN is 2.16.840.1.113883.3.88.3.14
                                    The OID for an RxPCN is 2.16.840.1.113883.3.88.3.1 plus the numeric identifier used in the RxBIN.
                                </xs:documentation>
                            </xs:annotation> 
                        </xs:element>
                        <xs:element name="code" type="FinancialResponsibilityPartyType"/> <!-- Or Guarantor Information -->
                        <xs:element name="addr" type="Address" minOccurs="0"/>
                        <xs:element name="telecom" type="PhoneEmail" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="assignedPerson" minOccurs="0">                            
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" type="PersonName"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="representedOrganization" type="Organization" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="classCode" type="xs:string" fixed="ASSIGNED"/>
                </xs:complexType>
            </xs:element>            
        </xs:sequence>
        <xs:attribute name="typeCode" type="xs:string" fixed="PRF"/>
    </xs:complexType>
    
    <xs:complexType name="FinancialResponsibilityPartyType">       
        <xs:annotation>
            <xs:documentation>
                This data element identifies the type of the financially responsible party. The code attribute 
                contains a value from the HL7 RoleClassRelationshipFormal vocabulary. When the code of the 
                encompassing act is PP, the code attribute value is GUAR or PAT to represent a guarantor or 
                self-paying patient. The code attribute is PAYOR when the code of the encompassing act is other than PP.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="xs:string"/> 
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="RoleClass" /> 
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.840.1.113883.5.110" />      
    </xs:complexType>
    
    <xs:complexType name="MemberOrSubscriberInformation">
        <xs:annotation>
            <xs:documentation>
                The data elements described below identify the member(patient) or the subscriber to the health 
                plan for eligibility and/or claims processing. The health plan may not have the member or 
                subscriber's name, address or data of birth recorded in the same way as the provider. Using the 
                member or subscriber information as recorded by the health plan will improve the provider's 
                ability to determine eligibility for benefits and reduce rejections of claims.
                Only record information in participantRole(HLD) if the subscriber is not the patient,
                otherwise this information is recorded in Member Information
            </xs:documentation>
        </xs:annotation> 
        <xs:sequence>
            <xs:element name="time" type="DateRange" minOccurs="0"/> <!-- Date Coverage begins-Date Coverage Ends -->
            <xs:element name="participantRole" type="PatientOrSubscriber"/>
        </xs:sequence>
        <xs:attribute name="typeCode"> 
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="COV"/> <!-- Member Information Code -->
                    <xs:enumeration value="HLD"/> <!-- Subscriber Information Code -->
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="PatientOrSubscriber">
        <xs:annotation>
            <xs:documentation>
                Records Patient OR Subscriber Info including name, address, phone, email
            </xs:documentation>
        </xs:annotation> 
        <xs:sequence>            
            <xs:element name="id" type="InstanceIdentifier"/> <!-- Member or Subscriber Id -->
            <xs:element name="code" type="PatientRelationshipToSubscriber" minOccurs="0"/> <!-- required only when recording patient information, not subscriber information--> 
            <xs:element name="addr" type="Address" minOccurs="0"/>
            <xs:element name="telecom" type="PhoneEmail" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="playingEntity" type="MemberOfHealthPlan"/>
        </xs:sequence>
        <xs:attribute name="classCode">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="PAT"/> <!-- Patient Information Code -->
                    <xs:enumeration value="IND"/> <!-- Subscriber Information Code -->
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="PatientRelationshipToSubscriber">
        <xs:annotation>
            <xs:documentation>
                Specifies only if the patient is the subscriber or dependent within the context 
                of the specified health plan.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="STUD"/>    
                    <xs:enumeration value="FSTUD"/>       
                    <xs:enumeration value="PSTUD"/>   
                    <xs:enumeration value="FAMDEP"/>    
                    <xs:enumeration value="HANDIC"/>    
                    <xs:enumeration value="INJ"/>    
                    <xs:enumeration value="SELF"/>    
                    <xs:enumeration value="SPON"/>  
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="displayName">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="student"/>
                    <xs:enumeration value="full-time student"/> 
                    <xs:enumeration value="part-time student"/>
                    <xs:enumeration value="family dependent"/>
                    <xs:enumeration value="handicapped dependent"/>
                    <xs:enumeration value="injured plaintiff"/>
                    <xs:enumeration value="self"/>
                    <xs:enumeration value="sponsored dependent"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="codeSystemName" type="xs:string" fixed="RoleCode" /> 
        <xs:attribute name="codeSystem" type="Id" fixed="2.16.841.1.113883.5.111" />
    </xs:complexType>
    
    <xs:complexType name="MemberOfHealthPlan">
        <xs:annotation>
            <xs:documentation>
                The playing entity includes the name and date of birth of the actual member or health plan contract 
                holder(the true subscriber) as entered into the eligibility system of the health plan. This is not the 
                name of a related spouse, child, or dependent. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>            
            <xs:element name="name" type="PersonName" minOccurs="0"/>
            <xs:element ref="sdtc:birthTime" xmlns:sdtc="urn:hl7-org:sdtc"/>  <!-- subscriber date of birth, recorded if different from registration summary -->
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HealthPlan">
        <xs:annotation>
            <xs:documentation>
                A container for an act containing the health plan name
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>            
            <xs:element name="act" type="AuthorizationActivity"/>    <!-- act identifying the plan -->        
        </xs:sequence>
        <xs:attribute name="typeCode" type="xs:string" fixed="REFR"/>
    </xs:complexType>
    
    <xs:complexType name="AuthorizationActivity">
        <xs:annotation>
            <xs:documentation>
                An authorization activity represents authorizations currently active for the patient for the 
                particular payer. Authorizations are represented using an act subordinate to the policy or program
                that provided it. The policy or program is referred to by the authorization. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>            
            <xs:element name="templateId">
                <xs:complexType>
                    <xs:attribute name="root" type="Id" fixed="2.16.840.1.113883.10.20.1.19"/> <!-- Authorization Activity -->
                </xs:complexType>
            </xs:element>
            <xs:element name="id" type="InstanceIdentifier"/> <!-- plan or group code -->
            <xs:element name="text" type="xs:string"/> <!-- record name of health plan here -->
        </xs:sequence>        
        <xs:attribute name="classCode" type="xs:string" fixed="ACT"/>
        <xs:attribute name="moodCode" type="xs:string" fixed="DEF"/> <!-- A description of the coverage plan -->
    </xs:complexType>
    
</xs:schema>
